body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #6592e6 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #6592e6;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #2260d2 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #6592e6 !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #205ac5 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #6592e6;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #6592e6;
  border-color: #6592e6;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #6592e6;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #6592e6 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #6592e6;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #6592e6;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #6592e6;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #6592e6;
  border-bottom-color: #6592e6;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%236592e6' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-tXs2THUY2J {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-tXs2THUY2J nav.navbar {
  position: fixed;
}
.cid-tXs2THUY2J .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tXs2THUY2J .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-tXs2THUY2J .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-tXs2THUY2J .dropdown-item:hover,
.cid-tXs2THUY2J .dropdown-item:focus {
  background: #6592e6 !important;
  color: white !important;
}
.cid-tXs2THUY2J .dropdown-item:hover span {
  color: white;
}
.cid-tXs2THUY2J .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-tXs2THUY2J .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-tXs2THUY2J .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-tXs2THUY2J .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tXs2THUY2J .nav-link {
  position: relative;
}
.cid-tXs2THUY2J .container {
  display: flex;
  margin: auto;
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .cid-tXs2THUY2J .container {
    flex-wrap: wrap;
  }
}
.cid-tXs2THUY2J .container-fluid {
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .cid-tXs2THUY2J .container-fluid {
    flex-wrap: wrap;
  }
}
.cid-tXs2THUY2J .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tXs2THUY2J .dropdown-menu,
.cid-tXs2THUY2J .navbar.opened {
  background: #ffffff !important;
}
.cid-tXs2THUY2J .nav-item:focus,
.cid-tXs2THUY2J .nav-link:focus {
  outline: none;
}
.cid-tXs2THUY2J .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tXs2THUY2J .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tXs2THUY2J .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tXs2THUY2J .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tXs2THUY2J .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tXs2THUY2J .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tXs2THUY2J .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.cid-tXs2THUY2J .navbar.opened {
  transition: all 0.3s;
}
.cid-tXs2THUY2J .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tXs2THUY2J .navbar .navbar-logo img {
  width: auto;
}
.cid-tXs2THUY2J .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-tXs2THUY2J .navbar.collapsed {
  justify-content: center;
}
.cid-tXs2THUY2J .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tXs2THUY2J .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-tXs2THUY2J .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-tXs2THUY2J .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tXs2THUY2J .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tXs2THUY2J .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tXs2THUY2J .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tXs2THUY2J .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tXs2THUY2J .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-tXs2THUY2J .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tXs2THUY2J .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tXs2THUY2J .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tXs2THUY2J .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tXs2THUY2J .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tXs2THUY2J .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tXs2THUY2J .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tXs2THUY2J .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tXs2THUY2J .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tXs2THUY2J .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tXs2THUY2J .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .cid-tXs2THUY2J .navbar .navbar-brand {
    width: calc(100% - 31px);
  }
}
.cid-tXs2THUY2J .navbar.navbar-short {
  min-height: 60px;
}
.cid-tXs2THUY2J .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tXs2THUY2J .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-tXs2THUY2J .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tXs2THUY2J .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tXs2THUY2J .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tXs2THUY2J .dropdown-item.active,
.cid-tXs2THUY2J .dropdown-item:active {
  background-color: transparent;
}
.cid-tXs2THUY2J .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tXs2THUY2J .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tXs2THUY2J .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tXs2THUY2J .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-tXs2THUY2J .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tXs2THUY2J .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tXs2THUY2J ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tXs2THUY2J .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tXs2THUY2J button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tXs2THUY2J button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-tXs2THUY2J button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tXs2THUY2J button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tXs2THUY2J button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tXs2THUY2J button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tXs2THUY2J nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tXs2THUY2J nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tXs2THUY2J nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tXs2THUY2J nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tXs2THUY2J .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-tXs2THUY2J a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tXs2THUY2J .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tXs2THUY2J .navbar {
    height: 70px;
  }
  .cid-tXs2THUY2J .navbar.opened {
    height: auto;
  }
  .cid-tXs2THUY2J .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tXs2UuwGUQ {
  background-image: url("../../../assets/images/mbr-1920x993.jpg");
}
.cid-tXs2UuwGUQ .mbr-fallback-image.disabled {
  display: none;
}
.cid-tXs2UuwGUQ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tXs2UuwGUQ .mbr-section-title {
  text-align: center;
  color: #ffffff;
}
.cid-tXs2Xx88V5 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/background3.jpg");
}
.cid-tXs2Xx88V5 .mbr-overlay {
  background: #fafafa;
  opacity: 0.6;
}
.cid-tXs2Xx88V5 img,
.cid-tXs2Xx88V5 .item-img {
  width: 100%;
  height: 100%;
  height: 300px;
  object-fit: cover;
}
.cid-tXs2Xx88V5 .item:focus,
.cid-tXs2Xx88V5 span:focus {
  outline: none;
}
.cid-tXs2Xx88V5 .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-tXs2Xx88V5 .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-tXs2Xx88V5 .item-wrapper .item-content {
    padding: 2rem 2rem 0;
  }
  .cid-tXs2Xx88V5 .item-wrapper .item-footer {
    padding: 0 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tXs2Xx88V5 .item-wrapper .item-content {
    padding: 1rem 1rem 0;
  }
  .cid-tXs2Xx88V5 .item-wrapper .item-footer {
    padding: 0 1rem 1rem;
  }
}
.cid-tXs2Xx88V5 .mbr-section-btn {
  margin-top: auto !important;
}
.cid-tXs2Xx88V5 .mbr-section-title {
  color: #232323;
}
.cid-tXs2Xx88V5 .mbr-text,
.cid-tXs2Xx88V5 .mbr-section-btn {
  text-align: left;
}
.cid-tXs2Xx88V5 .item-title {
  text-align: left;
}
.cid-tXs2Xx88V5 .item-subtitle {
  text-align: left;
  color: #bbbbbb;
}
.cid-tXta7wGuje {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tXta7wGuje .mbr-fallback-image.disabled {
  display: none;
}
.cid-tXta7wGuje .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tXv1VI0FpN {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tXv1VI0FpN .mbr-fallback-image.disabled {
  display: none;
}
.cid-tXv1VI0FpN .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tXv1VI0FpN .card-wrapper {
  background: #4479d9;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .cid-tXv1VI0FpN .card-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tXv1VI0FpN .card-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tXv1VI0FpN .card-wrapper {
    padding: 4rem;
  }
}
.cid-tXv1VI0FpN .mbr-text,
.cid-tXv1VI0FpN .mbr-section-btn {
  color: #ffffff;
}
.cid-tXv1VI0FpN .card-title,
.cid-tXv1VI0FpN .card-box {
  text-align: right;
}
.cid-tXv43Zvn3J {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tXv43Zvn3J .mbr-fallback-image.disabled {
  display: none;
}
.cid-tXv43Zvn3J .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tXv43Zvn3J .card-wrapper {
  background: #e43f3f;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .cid-tXv43Zvn3J .card-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tXv43Zvn3J .card-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tXv43Zvn3J .card-wrapper {
    padding: 4rem;
  }
}
.cid-tXv43Zvn3J .mbr-text,
.cid-tXv43Zvn3J .mbr-section-btn {
  color: #ffffff;
  text-align: left;
}
.cid-tXv43Zvn3J .card-title,
.cid-tXv43Zvn3J .card-box {
  text-align: center;
  color: #ffffff;
}
.cid-tXv4B8pKfq {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tXv4B8pKfq .mbr-fallback-image.disabled {
  display: none;
}
.cid-tXv4B8pKfq .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tXv4B8pKfq .card-wrapper {
  background: #e6c63b;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .cid-tXv4B8pKfq .card-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tXv4B8pKfq .card-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tXv4B8pKfq .card-wrapper {
    padding: 4rem;
  }
}
.cid-tXv4B8pKfq .mbr-text,
.cid-tXv4B8pKfq .mbr-section-btn {
  color: #ffffff;
  text-align: left;
}
.cid-tXv4B8pKfq .card-title,
.cid-tXv4B8pKfq .card-box {
  text-align: center;
  color: #ffffff;
}
.cid-tXv53Jx3fb {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tXv53Jx3fb .mbr-fallback-image.disabled {
  display: none;
}
.cid-tXv53Jx3fb .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tXv53Jx3fb .card-wrapper {
  background: #ff9966;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .cid-tXv53Jx3fb .card-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tXv53Jx3fb .card-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tXv53Jx3fb .card-wrapper {
    padding: 4rem;
  }
}
.cid-tXv53Jx3fb .mbr-text,
.cid-tXv53Jx3fb .mbr-section-btn {
  color: #ffffff;
  text-align: left;
}
.cid-tXv53Jx3fb .card-title,
.cid-tXv53Jx3fb .card-box {
  text-align: center;
  color: #ffffff;
}
.cid-tXv62GFlLC {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tXv62GFlLC .mbr-fallback-image.disabled {
  display: none;
}
.cid-tXv62GFlLC .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tXv62GFlLC .card-wrapper {
  background: #000000;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .cid-tXv62GFlLC .card-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tXv62GFlLC .card-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tXv62GFlLC .card-wrapper {
    padding: 4rem;
  }
}
.cid-tXv62GFlLC .mbr-text,
.cid-tXv62GFlLC .mbr-section-btn {
  color: #ffffff;
  text-align: left;
}
.cid-tXv62GFlLC .card-title,
.cid-tXv62GFlLC .card-box {
  text-align: center;
  color: #ffffff;
}
.cid-tXv78kVicl {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tXv78kVicl .mbr-fallback-image.disabled {
  display: none;
}
.cid-tXv78kVicl .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tXv78kVicl .card-wrapper {
  background: #e6658e;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .cid-tXv78kVicl .card-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tXv78kVicl .card-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tXv78kVicl .card-wrapper {
    padding: 4rem;
  }
}
.cid-tXv78kVicl .mbr-text,
.cid-tXv78kVicl .mbr-section-btn {
  color: #ffffff;
  text-align: left;
}
.cid-tXv78kVicl .card-title,
.cid-tXv78kVicl .card-box {
  text-align: center;
  color: #ffffff;
}
.cid-tXv7DeoXjV {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tXv7DeoXjV .mbr-fallback-image.disabled {
  display: none;
}
.cid-tXv7DeoXjV .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tXv7DeoXjV .card-wrapper {
  background: #2299aa;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .cid-tXv7DeoXjV .card-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tXv7DeoXjV .card-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tXv7DeoXjV .card-wrapper {
    padding: 4rem;
  }
}
.cid-tXv7DeoXjV .mbr-text,
.cid-tXv7DeoXjV .mbr-section-btn {
  color: #ffffff;
  text-align: left;
}
.cid-tXv7DeoXjV .card-title,
.cid-tXv7DeoXjV .card-box {
  text-align: center;
  color: #ffffff;
}
.cid-tXv8lFoOc4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tXv8lFoOc4 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tXv8lFoOc4 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tXv8lFoOc4 .card-wrapper {
  background: #ff6666;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .cid-tXv8lFoOc4 .card-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tXv8lFoOc4 .card-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tXv8lFoOc4 .card-wrapper {
    padding: 4rem;
  }
}
.cid-tXv8lFoOc4 .mbr-text,
.cid-tXv8lFoOc4 .mbr-section-btn {
  color: #ffffff;
  text-align: left;
}
.cid-tXv8lFoOc4 .card-title,
.cid-tXv8lFoOc4 .card-box {
  text-align: center;
  color: #ffffff;
}
.cid-tXv91pUN6C {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tXv91pUN6C .mbr-fallback-image.disabled {
  display: none;
}
.cid-tXv91pUN6C .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tXv91pUN6C .card-wrapper {
  background: #4479d9;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .cid-tXv91pUN6C .card-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tXv91pUN6C .card-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tXv91pUN6C .card-wrapper {
    padding: 4rem;
  }
}
.cid-tXv91pUN6C .mbr-text,
.cid-tXv91pUN6C .mbr-section-btn {
  color: #ffffff;
  text-align: left;
}
.cid-tXv91pUN6C .card-title,
.cid-tXv91pUN6C .card-box {
  text-align: center;
  color: #ffffff;
}
.cid-tXv9mpdtP1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tXv9mpdtP1 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tXv9mpdtP1 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tXv9mpdtP1 .card-wrapper {
  background: #e6658e;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .cid-tXv9mpdtP1 .card-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tXv9mpdtP1 .card-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tXv9mpdtP1 .card-wrapper {
    padding: 4rem;
  }
}
.cid-tXv9mpdtP1 .mbr-text,
.cid-tXv9mpdtP1 .mbr-section-btn {
  color: #ffffff;
  text-align: left;
}
.cid-tXv9mpdtP1 .card-title,
.cid-tXv9mpdtP1 .card-box {
  text-align: center;
  color: #ffffff;
}
.cid-tXv9BpGWLd {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tXv9BpGWLd .mbr-fallback-image.disabled {
  display: none;
}
.cid-tXv9BpGWLd .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tXv9BpGWLd .card-wrapper {
  background: #40b0bf;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .cid-tXv9BpGWLd .card-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tXv9BpGWLd .card-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tXv9BpGWLd .card-wrapper {
    padding: 4rem;
  }
}
.cid-tXv9BpGWLd .mbr-text,
.cid-tXv9BpGWLd .mbr-section-btn {
  color: #ffffff;
  text-align: left;
}
.cid-tXv9BpGWLd .card-title,
.cid-tXv9BpGWLd .card-box {
  text-align: center;
  color: #ffffff;
}
.cid-tXva67Dz57 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tXva67Dz57 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tXva67Dz57 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tXva67Dz57 .card-wrapper {
  background: #000000;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .cid-tXva67Dz57 .card-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tXva67Dz57 .card-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tXva67Dz57 .card-wrapper {
    padding: 4rem;
  }
}
.cid-tXva67Dz57 .mbr-text,
.cid-tXva67Dz57 .mbr-section-btn {
  color: #ffffff;
  text-align: left;
}
.cid-tXva67Dz57 .card-title,
.cid-tXva67Dz57 .card-box {
  text-align: center;
  color: #ffffff;
}
.cid-tXvb1BYGgt {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tXvb1BYGgt .mbr-fallback-image.disabled {
  display: none;
}
.cid-tXvb1BYGgt .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tXvb1BYGgt .card-wrapper {
  background: #e6c63b;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .cid-tXvb1BYGgt .card-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tXvb1BYGgt .card-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tXvb1BYGgt .card-wrapper {
    padding: 4rem;
  }
}
.cid-tXvb1BYGgt .mbr-text,
.cid-tXvb1BYGgt .mbr-section-btn {
  color: #ffffff;
  text-align: left;
}
.cid-tXvb1BYGgt .card-title,
.cid-tXvb1BYGgt .card-box {
  text-align: center;
  color: #ffffff;
}
.cid-tXvbiWljVz {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tXvbiWljVz .mbr-fallback-image.disabled {
  display: none;
}
.cid-tXvbiWljVz .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tXvbiWljVz .card-wrapper {
  background: #ff9966;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .cid-tXvbiWljVz .card-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tXvbiWljVz .card-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tXvbiWljVz .card-wrapper {
    padding: 4rem;
  }
}
.cid-tXvbiWljVz .mbr-text,
.cid-tXvbiWljVz .mbr-section-btn {
  color: #ffffff;
  text-align: left;
}
.cid-tXvbiWljVz .card-title,
.cid-tXvbiWljVz .card-box {
  text-align: center;
  color: #ffffff;
}
.cid-tXvcOGw0Cu {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tXvcOGw0Cu .mbr-fallback-image.disabled {
  display: none;
}
.cid-tXvcOGw0Cu .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tXvcOGw0Cu .card-wrapper {
  background: #353535;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .cid-tXvcOGw0Cu .card-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tXvcOGw0Cu .card-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tXvcOGw0Cu .card-wrapper {
    padding: 4rem;
  }
}
.cid-tXvcOGw0Cu .mbr-text,
.cid-tXvcOGw0Cu .mbr-section-btn {
  color: #ffffff;
  text-align: left;
}
.cid-tXvcOGw0Cu .card-title,
.cid-tXvcOGw0Cu .card-box {
  text-align: center;
  color: #ffffff;
}
.cid-tXvd59UNSi {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tXvd59UNSi .mbr-fallback-image.disabled {
  display: none;
}
.cid-tXvd59UNSi .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tXvd59UNSi .card-wrapper {
  background: #4479d9;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .cid-tXvd59UNSi .card-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tXvd59UNSi .card-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tXvd59UNSi .card-wrapper {
    padding: 4rem;
  }
}
.cid-tXvd59UNSi .mbr-text,
.cid-tXvd59UNSi .mbr-section-btn {
  color: #ffffff;
  text-align: left;
}
.cid-tXvd59UNSi .card-title,
.cid-tXvd59UNSi .card-box {
  text-align: center;
  color: #ffffff;
}
.cid-tXvdoOp5Po {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tXvdoOp5Po .mbr-fallback-image.disabled {
  display: none;
}
.cid-tXvdoOp5Po .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tXvdoOp5Po .card-wrapper {
  background: #e43f3f;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .cid-tXvdoOp5Po .card-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tXvdoOp5Po .card-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tXvdoOp5Po .card-wrapper {
    padding: 4rem;
  }
}
.cid-tXvdoOp5Po .mbr-text,
.cid-tXvdoOp5Po .mbr-section-btn {
  color: #ffffff;
  text-align: left;
}
.cid-tXvdoOp5Po .card-title,
.cid-tXvdoOp5Po .card-box {
  text-align: center;
  color: #ffffff;
}
.cid-tXvdMwgAm6 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tXvdMwgAm6 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tXvdMwgAm6 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tXvdMwgAm6 .card-wrapper {
  background: #22a5e5;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .cid-tXvdMwgAm6 .card-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tXvdMwgAm6 .card-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tXvdMwgAm6 .card-wrapper {
    padding: 4rem;
  }
}
.cid-tXvdMwgAm6 .mbr-text,
.cid-tXvdMwgAm6 .mbr-section-btn {
  color: #ffffff;
  text-align: left;
}
.cid-tXvdMwgAm6 .card-title,
.cid-tXvdMwgAm6 .card-box {
  text-align: center;
  color: #ffffff;
}
.cid-tXvfsHZAP8 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tXvfsHZAP8 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tXvfsHZAP8 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tXvfsHZAP8 .card-wrapper {
  background: #232323;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .cid-tXvfsHZAP8 .card-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tXvfsHZAP8 .card-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tXvfsHZAP8 .card-wrapper {
    padding: 4rem;
  }
}
.cid-tXvfsHZAP8 .mbr-text,
.cid-tXvfsHZAP8 .mbr-section-btn {
  color: #ffffff;
  text-align: left;
}
.cid-tXvfsHZAP8 .card-title,
.cid-tXvfsHZAP8 .card-box {
  text-align: center;
  color: #ffffff;
}
.cid-tXvellMLOP {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tXvellMLOP .mbr-fallback-image.disabled {
  display: none;
}
.cid-tXvellMLOP .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tXvellMLOP .card-wrapper {
  background: #e6658e;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .cid-tXvellMLOP .card-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tXvellMLOP .card-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tXvellMLOP .card-wrapper {
    padding: 4rem;
  }
}
.cid-tXvellMLOP .mbr-text,
.cid-tXvellMLOP .mbr-section-btn {
  color: #ffffff;
  text-align: left;
}
.cid-tXvellMLOP .card-title,
.cid-tXvellMLOP .card-box {
  text-align: center;
  color: #ffffff;
}
.cid-tXvgo8Gc4i {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tXvgo8Gc4i .mbr-fallback-image.disabled {
  display: none;
}
.cid-tXvgo8Gc4i .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tXvgo8Gc4i .card-wrapper {
  background: #e6c63b;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .cid-tXvgo8Gc4i .card-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tXvgo8Gc4i .card-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tXvgo8Gc4i .card-wrapper {
    padding: 4rem;
  }
}
.cid-tXvgo8Gc4i .mbr-text,
.cid-tXvgo8Gc4i .mbr-section-btn {
  color: #ffffff;
  text-align: left;
}
.cid-tXvgo8Gc4i .card-title,
.cid-tXvgo8Gc4i .card-box {
  text-align: center;
  color: #ffffff;
}
.cid-tXvgIHqyXh {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tXvgIHqyXh .mbr-fallback-image.disabled {
  display: none;
}
.cid-tXvgIHqyXh .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tXvgIHqyXh .card-wrapper {
  background: #6592e6;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .cid-tXvgIHqyXh .card-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tXvgIHqyXh .card-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tXvgIHqyXh .card-wrapper {
    padding: 4rem;
  }
}
.cid-tXvgIHqyXh .mbr-text,
.cid-tXvgIHqyXh .mbr-section-btn {
  color: #ffffff;
  text-align: left;
}
.cid-tXvgIHqyXh .card-title,
.cid-tXvgIHqyXh .card-box {
  text-align: center;
  color: #ffffff;
}
.cid-tXvhfiWdD0 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tXvhfiWdD0 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tXvhfiWdD0 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tXvhfiWdD0 .card-wrapper {
  background: #e6658e;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .cid-tXvhfiWdD0 .card-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tXvhfiWdD0 .card-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tXvhfiWdD0 .card-wrapper {
    padding: 4rem;
  }
}
.cid-tXvhfiWdD0 .mbr-text,
.cid-tXvhfiWdD0 .mbr-section-btn {
  color: #ffffff;
  text-align: left;
}
.cid-tXvhfiWdD0 .card-title,
.cid-tXvhfiWdD0 .card-box {
  text-align: center;
  color: #ffffff;
}
.cid-tXvhGs7RWV {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tXvhGs7RWV .mbr-fallback-image.disabled {
  display: none;
}
.cid-tXvhGs7RWV .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tXvhGs7RWV .card-wrapper {
  background: #2299aa;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .cid-tXvhGs7RWV .card-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tXvhGs7RWV .card-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tXvhGs7RWV .card-wrapper {
    padding: 4rem;
  }
}
.cid-tXvhGs7RWV .mbr-text,
.cid-tXvhGs7RWV .mbr-section-btn {
  color: #ffffff;
  text-align: left;
}
.cid-tXvhGs7RWV .card-title,
.cid-tXvhGs7RWV .card-box {
  text-align: center;
  color: #ffffff;
}
.cid-tXvigYMKao {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tXvigYMKao .mbr-fallback-image.disabled {
  display: none;
}
.cid-tXvigYMKao .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tXvigYMKao .card-wrapper {
  background: #353535;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .cid-tXvigYMKao .card-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tXvigYMKao .card-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tXvigYMKao .card-wrapper {
    padding: 4rem;
  }
}
.cid-tXvigYMKao .mbr-text,
.cid-tXvigYMKao .mbr-section-btn {
  color: #ffffff;
  text-align: left;
}
.cid-tXvigYMKao .card-title,
.cid-tXvigYMKao .card-box {
  text-align: center;
  color: #ffffff;
}
.cid-tXvj0eK7cU {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tXvj0eK7cU .mbr-fallback-image.disabled {
  display: none;
}
.cid-tXvj0eK7cU .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tXvj0eK7cU .card-wrapper {
  background: #e43f3f;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .cid-tXvj0eK7cU .card-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tXvj0eK7cU .card-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tXvj0eK7cU .card-wrapper {
    padding: 4rem;
  }
}
.cid-tXvj0eK7cU .mbr-text,
.cid-tXvj0eK7cU .mbr-section-btn {
  color: #ffffff;
  text-align: left;
}
.cid-tXvj0eK7cU .card-title,
.cid-tXvj0eK7cU .card-box {
  text-align: center;
  color: #ffffff;
}
.cid-tXvjlVlhAY {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tXvjlVlhAY .mbr-fallback-image.disabled {
  display: none;
}
.cid-tXvjlVlhAY .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tXvjlVlhAY .card-wrapper {
  background: #6ec7f2;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .cid-tXvjlVlhAY .card-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tXvjlVlhAY .card-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tXvjlVlhAY .card-wrapper {
    padding: 4rem;
  }
}
.cid-tXvjlVlhAY .mbr-text,
.cid-tXvjlVlhAY .mbr-section-btn {
  color: #ffffff;
  text-align: left;
}
.cid-tXvjlVlhAY .card-title,
.cid-tXvjlVlhAY .card-box {
  text-align: center;
  color: #ffffff;
}
.cid-tXvjTgQgQq {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tXvjTgQgQq .mbr-fallback-image.disabled {
  display: none;
}
.cid-tXvjTgQgQq .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tXvjTgQgQq .card-wrapper {
  background: #38aa22;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .cid-tXvjTgQgQq .card-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tXvjTgQgQq .card-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tXvjTgQgQq .card-wrapper {
    padding: 4rem;
  }
}
.cid-tXvjTgQgQq .mbr-text,
.cid-tXvjTgQgQq .mbr-section-btn {
  color: #ffffff;
  text-align: left;
}
.cid-tXvjTgQgQq .card-title,
.cid-tXvjTgQgQq .card-box {
  text-align: center;
  color: #ffffff;
}
.cid-tXvl5YU0IV {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tXvl5YU0IV .mbr-fallback-image.disabled {
  display: none;
}
.cid-tXvl5YU0IV .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tXvl5YU0IV .card-wrapper {
  background: #d98e44;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .cid-tXvl5YU0IV .card-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tXvl5YU0IV .card-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tXvl5YU0IV .card-wrapper {
    padding: 4rem;
  }
}
.cid-tXvl5YU0IV .mbr-text,
.cid-tXvl5YU0IV .mbr-section-btn {
  color: #ffffff;
  text-align: left;
}
.cid-tXvl5YU0IV .card-title,
.cid-tXvl5YU0IV .card-box {
  text-align: center;
  color: #ffffff;
}
.cid-tXvlFOf0Ej {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tXvlFOf0Ej .mbr-fallback-image.disabled {
  display: none;
}
.cid-tXvlFOf0Ej .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tXvlFOf0Ej .card-wrapper {
  background: #44d9d5;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .cid-tXvlFOf0Ej .card-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tXvlFOf0Ej .card-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tXvlFOf0Ej .card-wrapper {
    padding: 4rem;
  }
}
.cid-tXvlFOf0Ej .mbr-text,
.cid-tXvlFOf0Ej .mbr-section-btn {
  color: #ffffff;
  text-align: left;
}
.cid-tXvlFOf0Ej .card-title,
.cid-tXvlFOf0Ej .card-box {
  text-align: center;
  color: #ffffff;
}
.cid-tXvm4yn0Ea {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tXvm4yn0Ea .mbr-fallback-image.disabled {
  display: none;
}
.cid-tXvm4yn0Ea .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tXvm4yn0Ea .card-wrapper {
  background: #e43f3f;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .cid-tXvm4yn0Ea .card-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tXvm4yn0Ea .card-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tXvm4yn0Ea .card-wrapper {
    padding: 4rem;
  }
}
.cid-tXvm4yn0Ea .mbr-text,
.cid-tXvm4yn0Ea .mbr-section-btn {
  color: #ffffff;
  text-align: left;
}
.cid-tXvm4yn0Ea .card-title,
.cid-tXvm4yn0Ea .card-box {
  text-align: center;
  color: #ffffff;
}
.cid-tXvmqw9vEW {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tXvmqw9vEW .mbr-fallback-image.disabled {
  display: none;
}
.cid-tXvmqw9vEW .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tXvmqw9vEW .card-wrapper {
  background: #4479d9;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .cid-tXvmqw9vEW .card-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tXvmqw9vEW .card-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tXvmqw9vEW .card-wrapper {
    padding: 4rem;
  }
}
.cid-tXvmqw9vEW .mbr-text,
.cid-tXvmqw9vEW .mbr-section-btn {
  color: #ffffff;
  text-align: left;
}
.cid-tXvmqw9vEW .card-title,
.cid-tXvmqw9vEW .card-box {
  text-align: center;
  color: #ffffff;
}
.cid-tXtwVDcNGC {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tXtwVDcNGC blockquote {
  border-color: #6592e6;
  border-radius: 4px;
  background-color: #fafafa;
}
.cid-tXs2ZKSbxR {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tXs2ZKSbxR .mbr-fallback-image.disabled {
  display: none;
}
.cid-tXs2ZKSbxR .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tXs2ZKSbxR .image-wrapper {
  display: flex;
  align-items: center;
}
.cid-tXs2ZKSbxR .card-wrapper {
  margin-bottom: 2rem;
  display: flex;
  border-radius: 4px;
  background: #fafafa;
}
@media (max-width: 991px) {
  .cid-tXs2ZKSbxR .card-wrapper {
    padding: 1rem 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tXs2ZKSbxR .card-wrapper {
    padding: 2rem 4rem;
  }
}
.cid-tXs2ZKSbxR .mbr-iconfont {
  font-size: 2rem;
  padding-right: 1.5rem;
  color: #6592e6;
}
.cid-tXs31to77A {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #232323;
  overflow: hidden;
}
